.card {
    position: relative;
    margin-bottom: 2rem;

    #name {
        text-align: center;
    }

    .badge {
        position: absolute;
        top: -21px;
        left: -21px;
        padding: 1rem;
    }

    .Boarding {
        background-color: #0F52C0;
    }
    .Daycare {
        background-color: #81A716;
    }
    .Grooming {
        background-color: #A71616;
    }
}