.navigation {
    width: 20%;
    min-height: 100vh;
    max-height: 100vh;
    color: white;
    background-color: #001B48;
    text-align: center;
    
    
    .nav-item {
        margin: auto;
    }

    
}